<div class="col-xs-12" style="margin-top: 25px;">
  <form [formGroup]="dataUser" style="width: 30%;margin-left: 30%;">
    <div class="form-group">
      <label >Nombre:</label>
      <input formControlName="nombre" type="text" class="form-control" #inputNombre (change)="change()">
      <div *ngIf="dataUser.get('nombre').errors?.required && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Nombre no puede estar en blanco</div>
      <div *ngIf="dataUser.get('nombre').errors?.pattern && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Nombre no puede contener caracteres numericos</div>
    </div>
    <div class="form-group">
      <label>Telefono</label>
      <input formControlName="telefono" type="text" class="form-control" #inputTelefono>
      <div *ngIf="dataUser.get('telefono').errors?.required && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Telefono no puede estar en blanco</div>
      <div *ngIf="dataUser.get('telefono').errors?.pattern && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Telefono no puede tener caracteres alfabeticos</div>
    </div>
    <div class="form-group">
      <label>Puerta</label>
      <input formControlName="puerta" type="text" class="form-control" #inputPuerta>
      <div *ngIf="dataUser.get('puerta').errors?.required && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Puerta no puede estar en blanco</div>
      <div *ngIf="dataUser.get('puerta').errors?.maxlength && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Puerta no puede tener mas de 2 cifras</div>
    </div>
    <div class="form-group">
      <label>Usuario</label>
      <input formControlName="usuario" type="text" class="form-control" #inputUsuario>
      <div *ngIf="!dataUser.get('usuario').valid && modeEditable !== false" style="color: red; margin-top: 5px;font-weight: bold">Usuario no puede estar en blanco</div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control" #inputPassword>
      <div *ngIf="!dataUser.get('password').valid && modeEditable !== false" password style="color: red; margin-top: 5px;font-weight: bold">Password no puede estar en blanco</div>
    </div>
    <div>
      <button type="button" class="btn btn-outline-primary hvr-grow" *ngIf="modeEditable" (click)="updateData()">Guardar</button>
      <button style="float: right" type="button" class="btn btn-danger hvr-grow" *ngIf="modeEditable" (click)="cancellButton()">Cancelar</button>
      <button style="margin-left: 30%;" type="button" class="btn btn-primary hvr-grow" *ngIf="!modeEditable" (click)="editable()">Editar Datos</button>
    </div>
  </form>
</div>