nav {
  background-color: lightblue;
  border-bottom: 1px solid black;
}
li {
    margin-left: 30px;
}
li a i {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
li a i:hover {
    background-color: blue;
}
p {
  margin: auto;
  padding-right: 15px;
    /* margin: 10px 10px 10px 10px; */
    border: 0px solid black;
}

@media screen and (max-width: 680px) {
  #centerIcon {
      margin-left: 45%;
  }
  nav {
    border-bottom: 1px solid black;
  }
  ul {
    margin-left: 20%;
  }
  li {
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
