<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <!-- <ul class="navbar-nav">
    <li class="nav-item active">
      <a style="cursor: pointer" class="nav-link" (click)="listUsers()">Perfil de Usuario</a>
    </li>
  </ul> -->
    <!-- <ul class="navbar-nav">
    <li class="nav-item active">
      <a style="cursor: pointer" class="nav-link" (click)="listActas()">Actas</a>
    </li>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a style="cursor: pointer" class="nav-link" (click)="incidencias()">Incidencias</a>
        </li>
      </ul>
  </ul> -->
  </div>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a style="cursor: pointer" class="nav-link" (click)="listUsers()">Perfil de Usuario</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a style="cursor: pointer" class="nav-link" (click)="listActas()">Actas</a>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a style="cursor: pointer" class="nav-link" (click)="listGastos()">Gastos</a>
    </li>
  </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a style="cursor: pointer" class="nav-link" (click)="incidencias()">Incidencias</a>
      </li>
    </ul>
</nav>
