<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav">
    <p>
      <li class="nav-item">
        <i class="fas fa-building fa-lg" id="centerIcon">
        </i>
      </li>
    </p>
    <li class="nav-item">
      <a style="cursor: pointer" class="nav-link" (click)="listUsers()">
        <i class="fas fa-users">
          Perfil de Usuario
        </i>
      </a>
    </li>
    <li class="nav-item">
      <a style="cursor: pointer" class="nav-link" (click)="listActas()">
        <i class="fas fa-book">
          Actas
        </i>
      </a>
    </li>
    <li class="nav-item">
      <a style="cursor: pointer" class="nav-link" (click)="listGastos()">
        <i class="fas fa-dollar-sign">
          Gastos
        </i>
      </a>
    </li>
    <li class="nav-item">
      <a style="cursor: pointer" class="nav-link" (click)="incidencias()">
        <i class=" fas fa-exclamation">
          Incidencias
        </i>
      </a>
    </li>
  </ul>
</nav>