#gridBox {
  background-color: lightblue;
  width: 26%;
  margin-left: 13%;
  margin-top: 5%;
  float: left;
  border: 1px solid black;
  border-radius: 16%;
}

#title {
  padding-left: 10%;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

#icon {
  padding-left: 10%;
}

#descripcion {
    padding-left: 10%;
    padding-bottom: 10%;
}

 #gridBox:hover {
  background-color: blue;
}