<div class="container">
  <div id="gridBox">
    <a (click)="newUser()">
      <div class="row" style="padding-top: 10%;">
        <div class="col-xs-3" id="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="col-xs-9" id="title"> Editar Usuarios </div>
      </div>
      <hr>
      <div class="row">
        <div class="" id="descripcion"> Editar datos o crear nuevos usuarios </div>
      </div>
    </a>
  </div>
  <div id="gridBox">
    <a (click)="newActa()">
      <div class="row" style="padding-top: 10%;">
        <div class="col-xs-3" id="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="col-xs-9" id="title"> Nueva Acta </div>
      </div>
      <hr>
      <div class="row">
        <div class="" id="descripcion">Editar datos o crear nuevas actas</div>
      </div>
    </a>
  </div>
  <div id="gridBox">
    <a (click)="newGasto()">
      <div class="row" style="padding-top: 10%;">
        <div class="col-xs-3" id="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="col-xs-9" id="title"> Nuevo Gasto </div>
      </div>
      <hr>
      <div class="row">
        <div class="" id="descripcion"> Editar datos o crear nuevas actas nuevos gastos </div>
      </div>
    </a>
  </div>
  <div id="gridBox">
    <a (click)="newIncidencia()">
      <div class="row" style="padding-top: 10%;">
        <div class="col-xs-3" id="icon">
          <i class="fas fa-users"></i>
        </div>
        <div class="col-xs-9" id="title"> Nuevo Incidencia </div>
      </div>
      <hr>
      <div class="row">
        <div class="" id="descripcion"> Crear o editar una incidencia </div>
      </div>
    </a>
  </div>
</div>