<div class="container">
  <div class="row" style="margin-top: 2%;">
    <div class="col xs-9" id="titulo">
      {{ titulo }}
    </div>
    <div class="col-xs-3" style="padding-right: 25%;">
      <button class="btn btn-outline-primary" (click)="goBackButton()">
        Volver
      </button>
    </div>
  </div>
  <hr />
</div>

<div class="container" *ngIf="newUser">
  <div class="row">
    <div class="col-xs-6" style="width: 30%;margin: auto">
      <form [formGroup]="dataUser">
        <div class="form-group">
          <label>ID:</label>
          <input formControlName="id" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Nombre:</label>
          <input formControlName="nombre" type="text" class="form-control">
          <div *ngIf="!dataUser.get('nombre').valid" style="color: red; margin-top: 5px;font-weight: bold">Nombre no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Telefono</label>
          <input formControlName="telefono" type="text" class="form-control">
          <div *ngIf="!dataUser.get('telefono').valid" style="color: red; margin-top: 5px;font-weight: bold">Telefono no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Puerta</label>
          <input formControlName="puerta" type="text" class="form-control">
          <div *ngIf="!dataUser.get('puerta').valid" style="color: red; margin-top: 5px;font-weight: bold">Puerta no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Tipo Usuario</label>
          <select formControlName="tipo" class="custom-select" #optionSelected>
            <option *ngFor="let data of allTipeUsers" value="{{data[0]}}">{{data[1]}}</option>
          </select>
          <div *ngIf="!dataUser.get('tipo').valid" style="color: red; margin-top: 5px;font-weight: bold">El tipo no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Usuario</label>
          <input formControlName="usuario" type="text" class="form-control">
          <div *ngIf="!dataUser.get('usuario').valid" style="color: red; margin-top: 5px;font-weight: bold">Usuario no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input formControlName="password" type="password" class="form-control">
          <div *ngIf="!dataUser.get('password').valid" password style="color: red; margin-top: 5px;font-weight: bold">Password no puede estar en blanco</div>
        </div>
        <div>
          <button [style.cursor]="!dataUser.valid ? 'not-allowed' : null " [disabled]="dataUser.valid == false ? true : false" type="button" class="btn btn-outline-primary hvr-grow" (click)="addNewUser()">Crear</button>
          <button [style.cursor]="!dataUser.valid ? 'not-allowed' : null " [disabled]="dataUser.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-warning hvr-grow" (click)="editUserDatabase()">Editar</button>
          <button [style.cursor]="!dataUser.valid ? 'not-allowed' : null " [disabled]="dataUser.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-secondary hvr-grow" (click)="deleteUserDatabase()">Eliminar</button>
          <button style="float: right" type="button" class="btn btn-outline-danger hvr-grow" (click)="cancellButton()">Cancelar</button>
        </div>
      </form>
    </div>
    <div class="col-xs-6" style="width: 30%;margin: auto; margin-top: 5%;max-height: 650px;overflow: auto;">
      <ul *ngFor="let array of userInterface; let i = index" class="editUserLink">
        <a (click)="editUser(array)">
          <li>ID: {{array[0] }}</li>
          <li>Nombre: {{array[1] }}</li>
          <li>Telefono: {{array[2] }}</li>
          <li>Puerta: {{array[3] }}</li>
          <li>Tipo: {{array[4] }}</li>
          <li>Usuario: {{array[5] }}</li>
          <li>Password: {{array[6] }}</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="container" *ngIf="newActa">
  <div class="row">
    <div class="col-xs-4" style="width: 30%;margin: auto;">
      <form [formGroup]="dataActa">
        <div class="form-group">
          <label>ID</label>
          <input class="form-control" type="text" formControlName="id">
        </div>
        <div class="form-group">
          <label>Fecha</label>
          <input class="form-control" type="text" formControlName="fecha" placeholder="00/00/0000" #fecha>
          <div *ngIf="!dataActa.get('fecha').valid" style="color: red; margin-top: 5px;font-weight: bold">Fecha no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Descripcion:</label>
          <input formControlName="descripcion" type="text" class="form-control" #descripcionActa>
          <div *ngIf="!dataActa.get('descripcion').valid" style="color: red; margin-top: 5px;font-weight: bold">Descripcion no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Texto completo:</label>
          <textarea formControlName="textocompleto" type="text" class="form-control" rows="3"></textarea>
          <div *ngIf="!dataActa.get('textocompleto').valid" style="color: red; margin-top: 5px;font-weight: bold">Descripcion no puede estar en blanco</div>
        </div>
        <button [style.cursor]="!dataActa.valid ? 'not-allowed' : null" [disabled]="dataActa.valid == false ? true : false" type="button" class="btn btn-outline-primary hvr-grow" (click)="addNewUser()">Crear</button>
        <button [style.cursor]="!dataActa.valid ? 'not-allowed' : null" [disabled]="dataActa.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-warning hvr-grow" (click)="editUserDatabase()">Editar</button>
        <button [style.cursor]="!dataActa.valid ? 'not-allowed' : null" [disabled]="dataActa.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-secondary hvr-grow" (click)="deleteUserDatabase()">Eliminar</button>
        <button style="float: right" type="button" class="btn btn-outline-danger hvr-grow" (click)="cancellButton()">Cancelar</button>
      </form>
    </div>
    <div class="col-xs-8" style="width: 30%;margin: auto; margin-top: 5%;max-height: 443px;overflow: auto;">
      <ul *ngFor="let array of allActasArray; let i = index" class="editUserLink">
        <a (click)="editUser(array)">
          <li>ID: {{array[0] }}</li>
          <li>Fecha: {{array[1] }}</li>
          <li>Descripcion: {{array[2] }}</li>
          <li>
            <p style="max-height: 150px;overflow: auto;">Texto Completo: {{ array[3] }}</p>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="container" *ngIf="newGasto">
  <div class="row">
    <div class="col-xs-6" style="width: 30%;margin: auto;">
      <form [formGroup]="dataGastos">
        <div class="form-group">
          <label>ID</label>
          <input class="form-control" type="text" formControlName="id">
        </div>
        <div class="form-group">
          <label>Tipo</label>
          <select formControlName="tipo" class="custom-select" #optionSelected>
            <option *ngFor="let data of allTipeGastos" value="{{data[0]}}">{{data[1]}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Fecha recepcion:</label>
          <input formControlName="recepcion" type="text" placeholder="00-00-0000" class="form-control">
          <div *ngIf="!dataGastos.get('recepcion').valid" style="color: red; margin-top: 5px;font-weight: bold">Fecha de recepcion no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Fecha factura:</label>
          <input formControlName="factura" type="text" placeholder="00-00-0000" class="form-control">
          <div *ngIf="!dataGastos.get('factura').valid" style="color: red; margin-top: 5px;font-weight: bold">Fecha de factura no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Descripcion:</label>
          <input formControlName="descripcion" type="text" class="form-control">
          <div *ngIf="!dataGastos.get('descripcion').valid" style="color: red; margin-top: 5px;font-weight: bold">Descripcion no puede estar en blanco</div>
        </div>
        <button [style.cursor]="!dataGastos.valid ? 'not-allowed' : null" [disabled]="dataGastos.valid == false ? true : false" type="button" class="btn btn-outline-primary hvr-grow" (click)="addNewUser()">Crear</button>
        <button [style.cursor]="!dataGastos.valid ? 'not-allowed' : null" [disabled]="dataGastos.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-warning hvr-grow" (click)="editUserDatabase()">Editar</button>
        <button [style.cursor]="!dataGastos.valid ? 'not-allowed' : null" [disabled]="dataGastos.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-secondary hvr-grow" (click)="deleteUserDatabase()">Eliminar</button>
        <button style="float: right" type="button" class="btn btn-outline-danger hvr-grow" (click)="cancellButton()">Cancelar</button>
      </form>
    </div>
    <div class="col-xs-6" style="width: 30%;margin: auto; margin-top: 5%;max-height: 443px;overflow: auto;">
      <ul *ngFor="let array of allGastosArray; let i = index" class="editUserLink">
        <a (click)="editUser(array)">
          <li>ID: {{array[0] }}</li>
          <li>Tipo: {{array[1] }}</li>
          <li>Fecha recepcion: {{array[2] }}</li>
          <li>Fecha factura: {{ array[3] }}</li>
          <li>Descripcion: {{ array[4] }}</li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="container" *ngIf="newIncidencia">
  <div class="row">
    <div class="col-xs-6" style="width: 30%;margin: auto;">
      <form [formGroup]="dataIncidencia">
        <div class="form-group">
          <label>ID:</label>
          <input class="form-control" type="text" formControlName="id">
        </div>
        <div class="form-group">
          <label>Titulo:</label>
          <input class="form-control" type="text" formControlName="titulo">
          <div *ngIf="!dataIncidencia.get('titulo').valid" style="color: red; margin-top: 5px;font-weight: bold">Titulo no puede estar en blanco</div>
        </div>
        <div class="form-group">
          <label>Descripcion:</label>
          <textarea formControlName="descripcion" type="text" class="form-control" rows="3"></textarea>
          <div *ngIf="!dataIncidencia.get('descripcion').valid" style="color: red; margin-top: 5px;font-weight: bold">Descripcion no puede estar en blanco</div>
        </div>
        <button *ngIf="buttonVisible()" type="button" class="btn btn-outline-primary hvr-grow" (click)="addNewUser()">Crear</button>
        <button [style.cursor]="!dataIncidencia.valid ? 'not-allowed' : null" [disabled]="dataIncidencia.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-warning hvr-grow" (click)="editUserDatabase()">Editar</button>
        <button [style.cursor]="!dataIncidencia.valid ? 'not-allowed' : null" [disabled]="dataIncidencia.valid == false ? true : false" style="margin-left: 3%" type="button" class="btn btn-outline-secondary hvr-grow" (click)="deleteUserDatabase()">Eliminar</button>
        <button style="float: right" type="button" class="btn btn-outline-danger hvr-grow" (click)="cancellButton()">Cancelar</button>
      </form>
    </div>
    <div class="col-xs-6" style="width: 30%;margin: auto; margin-top: 5%;max-height: 443px;overflow: auto;">
      <ul *ngFor="let array of allIncidenciaArray; let i = index" class="editUserLink">
        <a (click)="editUser(array)">
          <li>ID: {{array[0] }}</li>
          <li>Titulo: {{array[1] }}</li>
          <li>Descripcion : {{array[2] }}</li>
        </a>
      </ul>
    </div>
  </div>
</div>