input {
  border-color: black;
  font-style: italic;
  font-size: 20px;
  padding-left: 10%;
  color: black;
}

label {
  font-family: serif;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

input:hover {
  background-color: lightblue;
}
.editUserLink:hover {
  background-color: lightblue;
}

.editUserLink {
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

button .disabled {
  cursor: not-allowed;
}

#titulo {
  margin: auto;
  padding-left: 30%;
  font-weight: bold;
  font-size: x-large;
  font-style: normal;
}
