<div class="row">
  <nav class="navbar navbar-light bg-light" id="navBarSearch">
    <form class="form-inline">
      <input 
      #inputSearchRecepcion
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Fecha de recepcion" 
      aria-label="Search">
      <input 
      #inputSearchFactura 
      class="form-control mr-sm-2" 
      type="search" 
      placeholder="Fecha de factura" 
      aria-label="Search">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Tipo</label>
      </div>
      <select class="custom-select" #optionSelected>
        <option value="0">Selecciona...</option>
        <option *ngFor="let data of arrayGastos" value="{{data[0]}}" >{{data[1]}}</option>
      </select>
      <button 
      class="btn btn-outline-success my-2 my-sm-0" 
      type="button" 
      (click)="dataSearchForm(inputSearchRecepcion.value,inputSearchFactura.value,optionSelected.value)">Buscar</button>
    </form>
  </nav>
</div>
<div class="list-group">
  <a class="list-group-item" *ngFor="let data of arrayData" id="aBorder">
    <div class="row">
      <div class="col-xs-3" id="divData">
        <h3>Tipo de factura:</h3>
        <div class="dataArray">
          {{data[2]}}
        </div>
      </div>
      <div class="col-xs-3" id="divData">
        <h3>Fecha de recepcion: </h3>
        <div class="dataArray">
          {{data[3]}}
        </div>
      </div>
      <div class="col-xs-3" id="divData">
        <h3>Fecha de factura: </h3>
        <div class="dataArray">
          {{data[4]}}
        </div>
      </div>
      <div class="col-xs-3" id="divData">
        <h3>Descripcion: </h3>
        <div class="dataArray2">
          {{data[5]}}
        </div>
      </div>
    </div>
  </a>
</div>