<div class="row">
  <nav style="margin: auto; margin-top: 10px;" class="navbar navbar-light bg-light" id="navBarSearch">
    <form class="form-inline">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01" id="borderInput">Tipo</label>
      </div>
      <select class="custom-select hvr-back-pulse" #optionSelected id="borderInput">
        <option value="0">Selecciona...</option>
        <option *ngFor="let data of arrayGastos[0];let i = index" value="{{data.id}}">{{data.tipo}}</option>
      </select>
      <div class="input-group-prepend" style="margin-left: 10px">
        <label class="input-group-text" for="inputGroupSelect01" id="borderInput">Ordernar</label>
      </div>
      <select class="custom-select hvr-back-pulse" #optionSelectedFecha id="borderInput">
        <option value="0">Selecciona...</option>
        <option value="1">Fecha de Recepcion</option>
        <option value="2">Fecha de Factura</option>
      </select>
      <button style="margin-left: 10px" class="btn btn-outline-success my-2 my-sm-0" type="button" 
      (click)="dataSearchForm(optionSelected.value, optionSelectedFecha.value)">Buscar</button>
    </form>
  </nav>
</div>
<hr>
<div class="list-group">
  <a class="list-group-item" *ngFor="let data of arrayData" id="aBorder">
    <div class="row">
      <div class="col-xs-3" id="divData">
        <h3>Tipo de Factura</h3>
        <div class="dataArray">
          {{data[2]}}
        </div>
      </div>
      <div class="col-xs-3" id="divData">
        <h3>Fecha de Recepcion </h3>
        <div class="dataArray">
          {{data[3]}}
        </div>
      </div>
      <div class="col-xs-3" id="divData">
        <h3>Fecha de Factura </h3>
        <div class="dataArray">
          {{data[4]}}
        </div>
      </div>
      <div class="col-xs-3" id="divData">
        <h3>Descripcion </h3>
        <div class="dataArray2">
          {{data[5]}}
        </div>
      </div>
    </div>
  </a>
</div>