<div class="list-group" id="divList">
  <a id="aGeneral" data-toggle="modal" data-target="#myModal" (click)="dataModal(index)" class="list-group-item list-group-item-action"
    *ngFor="let index of arrayAllData">
    <div class="col-xs-3" id="div1">
      <h3>Fecha:</h3>
      {{index[1]}}
    </div>
    <hr>
    <div class="col-xs-9" id="div1">
      <h3>Descripcion:</h3>
      -{{index[2]}}
    </div>
  </a>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h4>
          Fecha:
        </h4>
        {{ fecha }}
        <br />
        <h4>
          Descripcion:
        </h4>
        {{ desc }}
        <br />
        <h4>
          Acta completa:
        </h4>
        {{ texto }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger hvr-grow" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>