<div class="row">
  <div class="col-xs-12" class="mx-auto" style="margin-top: 50px;">
    <form [formGroup]="logginData" (ngSubmit)="submit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input formControlName="user" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input formControlName="pass" type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" *ngIf="loggValidator">
          <strong>Error</strong> Usuario o contraseña erroneos.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form (ngSubmit)="submit2()">
      <button type="submit" class="btn btn-primary">TEST</button>
    </form>
  </div>
</div>